@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
$color1: #20232a;
$color2: #61dafb;
$white: #fff;

$font1: 'Sawarabi Gothic', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font1
}
body {
    height: 100vh;
    background-color: $white;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    :visited {
        color: none;
    }
}
.pad {
    padding-top: 50px;
}